/* esta hoja de estilos pertenece a grid.html*/
header{
	background:#51606D;
	color: #fff;
}

.main{
	background:#f2f2f2;
}

.color1{
	background:#34495e;
	color: #fff;
}

aside{
	background:#c0392b;
	color: #fff;
}

footer{
	background: #468581 ;
	color: #fff;
}
a{
	color:whitesmoke;
	margin-top: 20px;
}